<html>
<head>
	<title>{% block title %}ChemDB{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}chemdb/style.css" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}chemdb/chemdb.ico" />
</head>

<body>
	<div id="navigation">
		{% block navigation %}
		<ul>
			<li><a href="/">Chemicals</a></li>
			<li><a href="/doc/">Document generation</a></li>
			<li><a href="/admin/">Admin</a></li>
		</ul>
		{% endblock %}
	</div>
	<div class="fullclear"></div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div class="fullclear"></div>

	<div id="footer">
		<p>powered by <a href="http://blog.tremily.us/posts/ChemDB/">chemdb</a></p>
	</div>
</body>
</html>
