{% extends "chemdb/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{% if chemical_instances %}
	<table>
		<thead>
			<tr>
				<th>ID</th><th>Chemical</th><th>CAS#</th><th>Location</th>
				<th>Amount</th><th>Vendor</th><th>Catalog#</th>
				<th>Received</th><th>Disposed</th>
			</tr>
		</thead>
		<tbody>
	{% for chemical_instance in chemical_instances %}
			<tr>
				<td>{{ chemical_instance.id }}</td>
				<td><a href="{% url chemical chemical_instance.chemical.id %}">
					{{ chemical_instance.chemical.abbrev }}</a></td>
				<td>{{ chemical_instance.chemical.cas_numbers }}</td>
				<td>{{ chemical_instance.location }}</td>
				<td>{{ chemical_instance.amount }}</td>
				<td>{{ chemical_instance.vendor }}</td>
				<td>{{ chemical_instance.catalog }}</td>
				<td>{{ chemical_instance.received }}</td>
				<td>{{ chemical_instance.disposed|default:'' }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No chemicals are available.</p>
{% endif %}
{% endblock %}
