{% extends "chemdb/base.html" %}

{% block content %}
<h1>{{ chemical.name }}</h1>

{% block metadata %}
<table class="metadata">
	<tr><td>Abbreviation</td><td>{{ chemical.abbrev }}</td></tr>
	<tr><td>CAS#</td><td>{{ chemical.cas_numbers }}</td></tr>
	<tr><td>NFPA health rating</td><td>{{ chemical.health }}</td></tr>
	<tr><td>NFPA fire rating</td><td>{{ chemical.fire }}</td></tr>
	<tr><td>NFPA reactivity rating</td><td>{{ chemical.reactivity }}</td></tr>
	<tr><td>NFPA special rating</td><td>{{ chemical.specials }}</td></tr>
	<tr><td>Mutagen</td><td>{{ chemical.mutagen }}</td></tr>
	<tr><td>Carcinogen</td><td>{{ chemical.carcinogen }}</td></tr>
	<tr><td>Teratogen</td><td>{{ chemical.teratogen }}</td></tr>
{% if chemical.msds %}
	<tr><td>MSDS</td><td><a href="{{ chemical.msds.url }}">
		{{ chemical.msds }}</a></td></tr>
{% endif %}
</table>
{% endblock %}

{% block note %}
{% if chemical.note %}
<div class="note">
{{ chemical.note|safe }}
</div>
{% endif %}
{% endblock %}
{% endblock %}
