{% extends "chemdb/base.html" %}

{% block title %}
  Documents
{% endblock %}

{% block content %}
<ul>
  <li>
    <a href="{% url doc target="inventory" %}">Inventory</a>
    in accordance with the 
    <a href="http://www.drexelsafetyandhealth.com/lab-chem.htm#chpe7">
      Chemical Hygiene Plan Section E-7</a>.
  </li>
  <li>
    <a href="{% url doc target="door" %}">Door warning</a>
  in accordance with the Chemical Hygiene Plan Sections
    <a href="http://www.drexelsafetyandhealth.com/lab-chem.htm#chpe7">E-7</a>
    and 
    <a href="http://www.drexelsafetyandhealth.com/lab-chem.htm#chpe10">E-10</a>.
  </li>
</ul>
<p>
  For door warnings for a particular location or locations, use the
  form below:
</p>
<form action="{% url doc target="inventory" %}" method="get">
	{{ locations_form }}
	<input type="submit" value="Submit" />
</form>
{% endblock %}
