/* <body> */

body {
  background: #eee;
}

.fullclear {
  width:100%;
  height:1px;
  margin:0;
  padding:0;
  clear:both;
}

/* </body> */

/* <div id="navigation"> */

#navigation {
  margin: 0;
  padding: 4px 0 0 0;
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 12px;
}

#navigation ul li {
  margin: 0;
	margin-left: 2em;
  padding: 0;
  float: left;
}

#navigation ul li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 5px 5px;
  background-color: #eee;
}

#navigation ul li a:hover {
  background-color: #ccc;
}

#navigation ul li.CurrentSection a {
  background-color: #FFF;
}

#navigation ul li.CurrentSection a:hover {
  background-color: #FFF;
}

#subnavigation ul li.CurrentSection a {
  border-width: 0 0 1px 0;
}

/* </div id="navigation"> */

/* <div id="content"> */

#content {
	width: 100%;
	margin: 0;
	padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fff;
}

table {
  border-collapse: collapse;
}

table.centered {
  margin: auto;
}

td, th {
  padding-right: 1em;
  text-align: left;
}

table.wide tr:nth-child(odd) {
  background: #eee;
}

table.wide thead tr:nth-child(odd) {
  background: #ccc;
}

span.number {
  float: right;            /* so decimal points match up */
  font-family: monospace;  /* so that n-place digits line up */
  text-align: '.';  /* should work by itself, but browser support is bad */
}

span.positive {
  color: green;
}

span.negative {
  color: red;
}

/* </div id="content"> */
